.blog_header_logo {
    margin-top: 3rem;
    font-family: 'Orbitron', sans-serif;
}

.blog_header_button {
    margin: 1.5rem 0;
}

.blog_footer_button {
    margin: 1.5rem 0;
}

.blog_footer_logo {
    margin-top: 1rem;
    font-family: 'Orbitron', sans-serif;
}