{% extends 'base.html' %}

{% block contents %}

<div style="margin: 2rem; text-align: center">

    <h1>METHOD</h1>
    <!-- action : url주소 -->
    <form action="/accountapp/hello_world/" method="post">
        <!-- 이대로 제출하면 csrf가 없다. csrf는 원래 웹 해킹 방법 중 하나. 장고가 기본적으로 회피하게 도와준다. 항상 csrf token을 생성해야 한다. -->
        {% csrf_token %}
        <!-- design
        너비를 퍼센트로 정리 : prefix 된 내용 확인 (https://getbootstrap.com/docs/5.0/utilities/sizing/)
        w-25를 추가하면 25%만 차지하도록 만들 수 있다.
        m-auto로 중앙정렬 할 수 있다. -->
        <input type="text" name="input_text">
        <input type="submit" class="btn btn-dark rounded-pill px-4">
        <!-- padding : 내부 여백, px-4로 내부 여백을 지정할 수 있다. (padding의 x축 방향으로 4정도의 내부 여백을 갖겠다.)-->
    </form>
    <!-- action : 요청을 보낼 주소 -->
    {% for hello_world in hello_world_list %}
    <h3>{{  hello_world.text   }}</h3> <!-- context 속성에 넣은 값을 출력한다.. -->
    {% endfor %}

</div>
{% endblock %}