{# include 구문 #}

<div style="text-align: center;">
    <div class="todayilearned_header_logo">
        <h1>Today I Learned</h1>
    </div>
    <div class="todayilearned_header_button">
        <span>nav1</span>
        <span>nav2</span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">login</a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">signup</a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:logout' %}">logout</a>
        </span>
        {% endif %}
    </div>

    <hr>
</div>